.boom{
    background-image: url('lake.jpg');
    box-shadow: 2px 2px 2px 2px black;
    background-position-x: left;
    background-position-y:center;
}
.heading{
    padding: 2px;
    color:black;
    text-shadow: white;
    padding: 0px;
   
}
.goom{

    background-image:url('view.jpg') ;
}
.two{
    background-color: whitesmoke;
    color:black;
    box-shadow: 2px 1px 2px black;
    padding:10px;
}
.about{
    margin-top:180px;
    box-shadow: 2px 1px 2px black;
    padding:10px;
    background-color: whitesmoke;
    display: flex;
         

}
.slide{
    box-shadow: 2px 2px 2px 2px 2px black;
    border:solid rgb(18, 18, 104);
    margin:25px;
    background-color: darkblue;
}
.download{

    background-color: rgb(69, 26, 170);
    color:wheat;
    padding-left:30px;
    padding-right:30px;
    padding-top:10px;
    padding-bottom:10px;
    border-radius:15px;
    margin:10px;
}

.bold{
    color:white;
}
h2{
    color:white;
    text-shadow: 2px 2px 2px black;
}

    footer{

        background-color: rgb(68, 68, 68);
        padding:8px;
    }
    

    .read{
        background-color: rgb(101, 37, 161);
        color:white;
        border-radius: 20px;
        border:thin white;
        padding-left:20px;
        padding-right:20px;
        padding-top:8px;
        padding-bottom:8px;
    }   
        
        
        
       
        
        .boom{
          background-color: rgb(209, 162, 253);
          box-shadow: 2px 2px 2px 2px black;
        
        
        }
        
        header{
            background-color: blueviolet;
           
            color:cornsilk;
        
        }
        
        footer{
        
            background-color: rgb(68, 68, 68);
            padding:8px;
        }
        .logo{
        
        width:30px;
        height:25px;
        border-radius: 100px;
        
        }
        
        .read{
            background-color: rgb(159, 65, 247);
            color:white;
            border-radius: 20px;
            border:thin black;
            padding-left:20px;
            padding-right:20px;
            padding-top:8px;
            padding-bottom:8px;
        }
        
        
        .mainpic{
            box-shadow: 2px 1px 2px black;
            border-radius: 20px;
            width:180px;
            height:200px;
            animation-name: fadeIn;
            animation-iteration-count: infinite;
            animation-duration: 8s;

        }
        @keyframes fadeIn{
            0%{
                opacity:0;
                
            }
            100%{
                opacity: 10;
            }
        }

        .nopic{
            box-shadow: 2px 1px 2px black;
            margin:30px;
            width:200px;
            height:210px;
            border-radius: 20px;
        }
       
            
            
            
            
            .nav{
            background-color: rgb(45, 26, 151);
            padding:15px;
            box-shadow: 1px 1px 1px 1px black;
            font-weight: bold  30%;
            font-family:'Times New Roman', Times, serif;
            }
         
            header{
                background-color: blueviolet;
               
                color:cornsilk;
            
            }
            
            footer{
            
                background-color: rgb(68, 68, 68);
                padding:4px;
            }
            .logo{
            
            width:30px;
            height:25px;
            border-radius: 100px;
            
            }
            
            .read{
                background-color: rgb(159, 65, 247);
                color:white;
                border-radius: 20px;
                border:thin black;
                padding-left:20px;
                padding-right:20px;
                padding-top:8px;
                padding-bottom:8px;
            }
            
            
            
            
            .name{
                
                text-align: center;
                animation-name:slideDown;
                animation-duration: 4s;
                animation-iteration-count: infinite;
            }
            @keyframes slideDown{
               
                
                    0%{
                        transform:translateY(-100%);
                        visibility:visible;
                    }
                    100%{
                        transform:translateY(0);
            
                    }
                
            
            
            
               }
          

        
        .contact{
        
            height:40px;
            width:40px;
            border-radius:100px;
        }
    

.pic{

    border: solid white;
    border-radius: 20px;
    height:40px;
    width:55px;
}

.logo{

    width:30px;
    height:25px;
    border-radius: 100px;
    
    }
    .link{

        color:white;
        background-color: rgb(45, 26, 151);
        
        border:rgb(45, 26, 151) thin;
        
        
        }
        
       